@import "~antd/dist/antd.css";

.ant-menu-inline-collapsed-tooltip {
  display: none;
}

.ant-divider.ant-divider-dashed {
  margin: 12px 0;
}

.context-row {
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  padding: 16px;
  z-index: 1;
}

@media (max-width: 1100px) {
  .ant-divider.ant-divider-dashed {
    margin: 8px 0;
  }
}

@media (max-width: 600px) {
  .ant-card .ant-card-body {
    padding: 16px;
  }
  .ant-divider.ant-divider-dashed {
    margin: 6px 0;
  }
}

@media (max-width: 400px) {
  .ant-card .ant-card-body {
    padding: 12px;
  }
  .context-row {
    padding: 12px;
  }
  .ant-divider.ant-divider-dashed {
    margin: 4px 0;
  }
}
